<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cwks.biz.demo.dao.JhfwMbFileSheetMapper">
  <resultMap id="BaseResultMap" type="com.cwks.biz.demo.domain.JhfwMbFileSheet">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="MB_ID" jdbcType="VARCHAR" property="mbId" />
    <id column="SHEET_INDEX" jdbcType="DECIMAL" property="sheetIndex" />
    <result column="TABLE_NAME" jdbcType="VARCHAR" property="tableName" />
    <result column="QSHS" jdbcType="DECIMAL" property="qshs" />
    <result column="QSLS" jdbcType="DECIMAL" property="qsls" />
    <result column="TABLE_MS" jdbcType="VARCHAR" property="tableMs" />
    <result column="TABLE_SCHEMA" jdbcType="VARCHAR" property="tableSchema" />
  </resultMap>
  <update id="deleteByMbId" parameterType="com.cwks.biz.demo.domain.JhfwMbFileSheet">
    	 delete from T_JHFW_MB_FILE_SHEET where  MB_ID = #{mbId,jdbcType=VARCHAR}
  </update>
</mapper>