<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" data-th-href="@{/js/plugin/layui/css/layui.css}">   
<script type="text/javascript" data-th-src="@{/js/plugin/layui/layui.js}"></script>
<script type="text/javascript" data-th-src="@{/js/plugin/layui/css/jquery-3.4.1.min.js}"></script> 
<script type="text/javascript" data-th-src="@{/js/app/comm/common.js}"></script>
<script type="text/javascript" data-th-src="@{/js/app/demo/lay_sjjh_mbpz_colmx.js}"></script>
<title>数据交换模板配置维护明细</title>
</head>
<!-- 展示数据表格 -->
<div class="layui-btn-group">
	<button class="layui-btn layui-btn-sm" id="addRowSheet">
		<i class="layui-icon">&#xe654;</i>新增行
	</button>
</div>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
      <legend>模板SHEET_COL_NAME数据</legend>
	  <table class="layui-hide layui-bg-black " id="mbSheetColTable" lay-filter="mbSheetColTable"></table>
</fieldset>
<!--行内样式按钮   -->
<script type="text/html" id="lineBtns">
      <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script th:inline="javascript">
		var ctx= [[${ctx}]];
		var mbid= [[${mbid}]];
		var sheetIndex= [[${sheetIndex}]];
</script>
</body>
</html>